/* ===============================
   Grid Layout
================================= */
.edit-profile-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* side by side */
  gap: 20px;
}
.edit-profile-form-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 28px;
    color: #3daa7d;
    letter-spacing: .5px;
}
.edit-profile-form-container{
    background: #121a19;
    border: 1px solid rgba(61, 170, 125, .25);
    border-radius: 16px;
    padding: 40px;
    margin-bottom: 35px;
    transition: all .3s ease;
    margin-top: 35px;

}
/* ===============================
   Field
================================= */
.edit-profile-form-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* ===============================
   Input Wrapper
================================= */
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

/* ===============================
   Input
================================= */
.input-wrapper input {
  width: 100%;
  background: #0f1514;
  border: 1px solid rgba(61, 170, 125, 0.3);
  border-radius: 12px;
  padding: 12px 45px 12px 14px;
  font-size: 15px;
  color: #ffffff;
  outline: none;
  transition: 0.3s ease;
}

.input-wrapper input:focus {
  border-color: #3DAA7D;
  box-shadow: 0 0 0 3px rgba(61, 170, 125, 0.15);
}

/* ===============================
   Eye Icon
================================= */
.input-wrapper span {
  position: absolute;
  right: 14px;
  cursor: pointer;
  color: #3DAA7D;
  font-size: 16px;
  transition: 0.3s ease;
}

.input-wrapper span:hover {
  color: #2ed49c;
  transform: scale(1.1);
}

/* ===============================
   Button (Premium Style)
================================= */
.edit-profile-form-container button {
  /* width: 100%; */
  background: linear-gradient(135deg, #3DAA7D, #2ed49c);
  color: #0f1514;
  border: none;
  padding: 14px;
  border-radius: 14px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
}

/* Hover Effect */
.edit-profile-form-container button:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 25px rgba(61, 170, 125, 0.038);
}

/* Click Effect */
.edit-profile-form-container button:active {
  transform: scale(0.97);
}



/* ===============================
   Mobile Responsive
================================= */
@media (max-width: 768px) {
  .edit-profile-form-grid {
    grid-template-columns: 1fr; /* stack */
  }
}